@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    margin: 0;
}

.whole-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1f2937;
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
}

.nav-bar img{
    height: auto;
    width: 50px;
    flex-shrink: 0;
}

.logo span{
    font-weight: bolder;
    color: green;
    font-size: 18px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* flex: auto; */
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.nav-content-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.nav-text {
    font-size: 18px;
    color: #e5e7eb;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
    gap: 25px;
}

.nav-content-right img{
   height: auto;
   width:800px;
}

.nav {
    /* margin-left: 200px;
    margin-right: 50px; */
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-right: 50px;
}

.nav-content-left button{
    background-color: #3882f6;
    border: solid #3882f6 0px;
    color: #f9faf8;
    font-weight: bolder;
    font-size: medium;
    width: 120px;
    height: 30px;
    border-radius: 8px;
}

.main {
    flex:auto;
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    justify-content: center;
    height: 500px;
    gap: 50px;
}

.main-top h1{
     font-size: 36px;
     font-weight: bolder;
     color: #1f2937;
} 

.main-top-content {
    display: flex;
    gap: 25px;
    align-self: center;

}

.main-top-content img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    /* border-color: #3882f6 solid; */
}

.main-tc p {
    text-align: center;
}

.main-mid {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
    /* margin: 50px 25px 40px 70px; */
    
}

.main-mid-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;

}

.main-mid-sub p:first-child{
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.main-mid p:last-child {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 36px;
}

.main-bottom {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bottom div{
    /* margin-left: 100px; */
    margin-right:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    width: 1030px;
    height: 140px;
    border-radius: 8px;
    align-items: center;
    gap:100px;
}

.main-bottom p {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}


.footer {
    height: 100px;
    background-color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    /* margin-top: auto; */
    flex-shrink: 0;
}

.main-bottom button {
    margin-right: 100px;
    background-color: #3882f6;
    border:2px solid #f9faf8;
    color: #f9faf8;
    font-weight: bolder;
    font-size: medium;
    width: 130px;
    height: 36px;
    border-radius: 8px;
}